<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototype Modelshow Registration</title>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
</head>

<body>    
    <nav class = "pageNav">
        <span><a href="/registration">Registration</a></span>
        <span><a href="/judging">Judging<span></a></span>
        <span><a href="/filters">View/Filter entries</span></a>
    </nav>
    <h1>Miniatures Show Results</h1>
<div class="filterbuttons">
    <a href="/filters"><p id="all" class="filterbutton">View all</p></a>
    <a href="/filtersbronze"><p id="bronze" class="filterbutton">Bronze</p></a>
    <a href="/filterssilver"><p id="silver" class="filterbutton">Silver</p></a>
    <a href="/filtersgold"><p id="gold" class="filterbutton">Gold</p></a>
    <a href="/filterscorrr"><p id="corrr" class="filterbutton">CORRR</p></a>
    <a href="/filtersbestOfShow"><p id="bestOfShow" class="filterbutton">Best of Show</p></a>
    <a href="/filtersjunBestOfShow"><p id="junBestOfShow" class="filterbutton">Junior Best of Show</p></a>
    <a href="/filterspeoplesChoice"><p id="peoplesChoice" class="filterbutton">People's Choice</p></a>
    <a href="/filterssponsors"><p id="sponsors" class="filterbutton">Sponsor Prizes</p></a>
</div>
    <div class="entries">
        <% for(let i = 0; i < info.length; i++) {%>
            <div class="entry" id=<%= info[i].id %>>
                <div>
                    <p>Number:</p>
                    <p>Name:</p>
                </div>
                <div>
                    <p><%= info[i].id %></p>
                    <p><%= info[i].fullName %></p>
                    <p><% for (let prize of Object.keys(info[i].prizes).filter(e => info[i].prizes[e])) {%>
                        <% let prettyfied = {junBestOfShow: "Junior Best of Show", bestOfShow: "Best of Show", peoplesChoice: "People's Choice"} %>
                        <span><%- typeof(info[i].prizes[prize]) == "string" ? info[i].prizes[prize][0].toUpperCase() + info[i].prizes[prize].slice(1) + "<br>" :
                               prize == "corrr" ? prize.toUpperCase() + "<br>" :
                               prize in prettyfied ? prettyfied[prize] + "<br>" :
                               typeof(info[i].prizes[prize]) == "object" ?
                                   info[i].prizes[prize].every(e => !e) ? "" :
                                   "Sponsor: " + info[i].prizes[prize] + "<br>" :
                                prize + "<br>" %>
                        </span>
                        <% } %>
                    </p>
                </div>
            </div>
        <% } %>
    </div>

</body>