html {
    font-family: sans-serif;
}

form {
    display: block;
}

.hidden {
    display: none !important;
}

.entries {
    display: flex;
    flex-flow: column wrap;
}

.entry {
    display: flex;
    border: 2px solid grey;
}
