html {
    font-family: sans-serif;
}

form {
    display: block;
}

.hidden {
    display: none !important;
}

.entries {
    display: flex;
    flex-flow: column wrap;
}

.entry {
    display: flex;
    border: 2px solid grey;
}

.titleNav, .pageNav {
    display: flex;
}

.titleNav > span, .pageNav > span {
    padding: 2em;
    background-color: #000;
}

a {
    color: #fff;
    text-decoration: none;
}

.notJudged {
    background-color: #d88282;
}

.notInComp {
    background-color: #8b8b8b;
}

.judged {
    background-color: #79df93;
}

#warning {
    color: #dd1212
}

.active {
    background-color: orange !important;
}

.filterbuttons {
    display: flex;
    justify-content: center;
    color: #000;
    gap: 1rem;
}

.filterbutton {
    color: #000;
    border: 1px solid black;
    padding: 5px;
    background-color: lightblue;
}
